@import "tailwindcss";

@theme {
  --font-arial-sans: Arial, sans-serif;

  --color-board: oklch(52.198% 0.17716 255.847);

  --color-player1: oklch(65.948% 0.22715 28.428);
  --color-player2: oklch(89.669% 0.18499 97.454);

  --color-btn: oklch(52.385% 0.14364 147.049);
  --color-btn-hover: oklch(44.844% 0.12208 147.074);

  --radius-5: 0.3125rem;
  --radius-10: 0.625rem;

  --spacing-fluid: min(1.25rem, 10%);

  --spacing-game-board: min(85vw, 50vh * 7 / 6);

  --text-board-title: min(2rem, 12vw);

  --duration-transition: 0.3s;

  --shadow-glow-p1: 0 0 10px var(--color-player1);
  --shadow-glow-p2: 0 0 10px var(--color-player2);

  --color-shadow-menu: oklch(100% 0 271.152 / 0.2);
  --shadow-menu: 0 0 20px var(--color-shadow-menu);
}

@utility text-shadow-title-glow {
  text-shadow: 0 0 10px white;
}

body {
  background: black
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCI+CiAgPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMC41IiBmaWxsPSJ3aGl0ZSIgLz4KPC9zdmc+")
    repeat;
}
