@import "tailwindcss";

@theme {
  --color-board: #0066cc;
  --color-player1: #ff4136;
  --color-player2: #ffdc00;
  --color-btn: #1a8033;
  --color-btn-hover: #146628;
  --color-menu-bg: rgba(0, 0, 0, 0.8);
}

:root {
  --cell-size: 60px;
  --cell-padding: calc(var(--cell-size) / 15);
  --transition-duration: 0.3s;
  --box-shadow-blur: 10px;
  --text-shadow-blur: 10px;
  --shadow-blur: 20px;
  --shadow-color: rgba(255, 255, 255, 0.2);
}

body {
  font-family: Arial, sans-serif;
  background: #000
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCI+CiAgPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMC41IiBmaWxsPSJ3aGl0ZSIgLz4KPC9zdmc+")
    repeat;
}

.cell {
  transition: background-color var(--transition-duration);
}

.cell.red {
  box-shadow: 0 0 var(--box-shadow-blur) var(--color-player1);
}

.cell.yellow {
  box-shadow: 0 0 var(--box-shadow-blur) var(--color-player2);
}
