@import "tailwindcss";

@theme {
  --font-arial-sans: Arial, sans-serif;
}

:root {
  --tube-width: 90px;
  --tube-height: calc(var(--tube-width) * 3.5);
  --tubes-gap: calc(var(--tube-width) / 4);
  --tube-border-radius: calc(var(--tube-width) / 3);
  --top-menu-font-size: 2.25rem;
  --control-button-size: 54px;
  --top-menu-gap: 20px;
  --message-font-size: calc(var(--tube-width) * 0.35);
}

body {
  background: linear-gradient(to bottom, #87ceeb, #1e90ff);
}

#tubes-container {
  gap: var(--tubes-gap);
}

.tube-row {
  gap: var(--tubes-gap);
}

.tube {
  width: var(--tube-width);
  height: var(--tube-height);
  border-radius: 0 0 var(--tube-border-radius) var(--tube-border-radius);
}

.liquid {
  transition: all 0.3s ease;
}

#top-menu {
  gap: var(--top-menu-gap);
  font-size: var(--top-menu-font-size);
  margin-bottom: var(--top-menu-gap);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#message {
  font-size: var(--message-font-size);
  margin-bottom: calc(var(--tube-margin) * 2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.control-button {
  width: var(--control-button-size);
  height: var(--control-button-size);
}
