:root {
  --tetromino-color-0: #00ffff;
  --tetromino-color-1: #0000ff;
  --tetromino-color-2: #ffa500;
  --tetromino-color-3: #ffff00;
  --tetromino-color-4: #00ff00;
  --tetromino-color-5: #ff00ff;
  --tetromino-color-6: #ff0000;
  --tetromino-glow-0: 0 0 5px var(--tetromino-color-0),
    0 0 10px var(--tetromino-color-0);
  --tetromino-glow-1: 0 0 5px var(--tetromino-color-1),
    0 0 10px var(--tetromino-color-1);
  --tetromino-glow-2: 0 0 5px var(--tetromino-color-2),
    0 0 10px var(--tetromino-color-2);
  --tetromino-glow-3: 0 0 5px var(--tetromino-color-3),
    0 0 10px var(--tetromino-color-3);
  --tetromino-glow-4: 0 0 5px var(--tetromino-color-4),
    0 0 10px var(--tetromino-color-4);
  --tetromino-glow-5: 0 0 5px var(--tetromino-color-5),
    0 0 10px var(--tetromino-color-5);
  --tetromino-glow-6: 0 0 5px var(--tetromino-color-6),
    0 0 10px var(--tetromino-color-6);
}

.tetromino {
  border: 1px solid white;
}

.tetromino-0 {
  background-color: var(--tetromino-color-0);
  box-shadow: var(--tetromino-glow-0);
}

.tetromino-1 {
  background-color: var(--tetromino-color-1);
  box-shadow: var(--tetromino-glow-1);
}

.tetromino-2 {
  background-color: var(--tetromino-color-2);
  box-shadow: var(--tetromino-glow-2);
}

.tetromino-3 {
  background-color: var(--tetromino-color-3);
  box-shadow: var(--tetromino-glow-3);
}

.tetromino-4 {
  background-color: var(--tetromino-color-4);
  box-shadow: var(--tetromino-glow-4);
}

.tetromino-5 {
  background-color: var(--tetromino-color-5);
  box-shadow: var(--tetromino-glow-5);
}

.tetromino-6 {
  background-color: var(--tetromino-color-6);
  box-shadow: var(--tetromino-glow-6);
}
