@import "tailwindcss";

@theme {
  --font-poppins-sans: var(--font-poppins), sans-serif;

  --color-primary: oklch(81.3% 0.09 72.577);
  --color-secondary: oklch(86.245% 0.064 76.864);

  --color-primary-bg: oklch(23.687% 0.01377 253.136);
  --color-seconday-bg: oklch(35.642% 0.03914 249);

  --radius-10: 0.625rem;

  --spacing-section: min(2.5rem, 2.5vw);
  --radius-section: min(1.5rem, 1.5vw);

  --shadow-2-4-20: 0 2px 4px oklch(0% 0 0 / 0.2);
  --shadow-5-15-20: 0 5px 15px oklch(0% 0 0 / 0.2);
  --shadow-8-32-10: 0 8px 32px oklch(0% 0 0 / 0.1);

  --shadow-5-15-primary-20: 0 5px 15px
    color-mix(in oklch, var(--color-primary) 20%, transparent);

  --background-image-gradient-body: linear-gradient(
    135deg,
    var(--color-primary-bg) 0%,
    var(--color-seconday-bg) 100%
  );

  --background-image-gradient-stone: linear-gradient(
    135deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );

  --spacing-stone: 1.5rem;

  --stones-in-one-row: 5;
  --stones-in-one-column: 8;
  --spacing-stones-gap: calc(var(--spacing-stone) / 3);

  --spacing-stones-w: calc(
    var(--stones-in-one-row) *
    var(--spacing-stone) +
    (var(--stones-in-one-row) - 1) *
    var(--spacing-stones-gap)
  );

  --spacing-stones-h: calc(
    var(--stones-in-one-column) *
    var(--spacing-stone) +
    (var(--stones-in-one-column) - 1) *
    var(--spacing-stones-gap)
  );

  --grid-template-columns-stones: repeat(var(--stones-in-one-row), 1fr);
}

@utility text-glow {
  text-shadow: 2px 2px 4px oklch(0% 0 0 / 0.3);
}

@utility custom-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  &::-webkit-slider-thumb:hover {
    transform: scale(1.1);
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  &::-moz-range-thumb:hover {
    transform: scale(1.1);
  }
}
