@import "tailwindcss";

@theme {
  --font-roboto-sans: "Roboto", sans-serif;

  --color-purple-1: oklch(62.7% 0.164 271.5);
  --color-purple-2: oklch(50% 0.1385 304.7);

  --background-image-purple-gradient: linear-gradient(
    135deg,
    var(--color-purple-1) 0%,
    var(--color-purple-2) 100%
  );
}

#game-container {
  box-shadow: 0 8px 32px 0 oklch(33.8% 0.158 271.3 / 0.37);
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.simon-button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.simon-button.active {
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.7);
}

#red {
  background-color: #ff4136;
}

#green {
  background-color: #2ecc40;
}

#blue {
  background-color: #0074d9;
}

#yellow {
  background-color: #ffdc00;
}

#start-button {
  background-color: #01ff70;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#start-button:hover {
  background-color: #2ecc40;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#start-button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
