@import "tailwindcss";

@theme {
  --font-arial-sans: Arial, sans-serif;

  --color-bg: oklch(97.82% 0.01195 96.476);
  --color-bg-dark: oklch(17.764% 0.00002 271.152);

  --color-light: oklch(97.434% 0.00611 75.132);

  --color-grid: oklch(75.581% 0.02433 65.273);
  --color-grid-dark: oklch(40.869% 0.02716 62.513);

  --color-cell: oklch(81.406% 0.02241 69.648);
  --color-cell-dark: oklch(30.479% 0.02382 69.392);
  --color-cell-text: oklch(54.375% 0.01771 67.366);

  --color-btn: oklch(54.358% 0.03916 65.528);

  --spacing-cell: min(5rem, 18vw);
  --spacing-grid-gap: min(0.625rem, 2.25vw);
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.color-2 {
  background-color: #eee4da;
}
.color-4 {
  background-color: #ede0c8;
}
.color-8 {
  background-color: #f2b179;
}
.color-16 {
  background-color: #f59563;
}
.color-32 {
  background-color: #f67c5f;
}
.color-64 {
  background-color: #f65e3b;
}
.color-128 {
  background-color: #edcf72;
}
.color-256 {
  background-color: #edcc61;
}
.color-512 {
  background-color: #edc850;
}
.color-1024 {
  background-color: #edc53f;
}
.color-2048 {
  background-color: #edc22e;
}
.color-4096,
.color-8192 {
  background-color: black;
}

.color-8,
.color-16,
.color-32,
.color-64,
.color-128,
.color-256,
.color-512,
.color-1024,
.color-2048,
.color-4096,
.color-8192 {
  color: var(--color-light);
}
