@import "tailwindcss";

@theme {
  --font-arial-sans: Arial, sans-serif;

  --color-bg: #faf8ef;
  --color-bg-dark: #111;
  --color-text: #000;
  --color-text-dark: #f9f6f2;
  --color-grid: #bbada0;
  --color-grid-dark: #55473b;
  --color-cell: #ccc0b3;
  --color-cell-dark: #372d22;
  --color-cell-text: #776e65;
  --color-btn: #8f7a66;
  --color-btn-text: #f9f6f2;

  --spacing-cell: min(80px, 18vw);
  --spacing-grid-gap: min(10px, 2.25vw);
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.color-2 {
  background-color: #eee4da;
}
.color-4 {
  background-color: #ede0c8;
}
.color-8 {
  background-color: #f2b179;
  color: #f9f6f2;
}
.color-16 {
  background-color: #f59563;
  color: #f9f6f2;
}
.color-32 {
  background-color: #f67c5f;
  color: #f9f6f2;
}
.color-64 {
  background-color: #f65e3b;
  color: #f9f6f2;
}
.color-128 {
  background-color: #edcf72;
  color: #f9f6f2;
}
.color-256 {
  background-color: #edcc61;
  color: #f9f6f2;
}
.color-512 {
  background-color: #edc850;
  color: #f9f6f2;
}
.color-1024 {
  background-color: #edc53f;
  color: #f9f6f2;
}
.color-2048 {
  background-color: #edc22e;
  color: #f9f6f2;
}
.color-4096 {
  background-color: #000000;
  color: #f9f6f2;
}
.color-8192 {
  background-color: #000000;
  color: #f9f6f2;
}
