@import "tailwindcss";

@theme {
  --font-roboto-sans: "Roboto", sans-serif;

  --color-light: oklch(91.887% 0 271.152);

  --color-background: oklch(100% 0 271.52 / 90%);

  --color-primary: oklch(41.918% 0.12 302.383);
  --color-secondary: oklch(52.444% 0.16557 271.52);

  --color-container-shadow: oklch(0% 0 0 / 0.2);
  --shadow-container: 0 10px 20px var(--color-container-shadow);

  --background-image-app-gradient: linear-gradient(
    135deg,
    var(--color-secondary) 0%,
    var(--color-primary) 100%
  );

  --color-app-100: oklch(100% 0 271.52);
  --color-app-200: oklch(98.212% 0 271.52);
  --color-app-300: oklch(94.912% 0 271.52);
  --color-app-400: oklch(89.755% 0 271.52);
  --color-app-500: oklch(75.721% 0 271.52);
  --color-app-600: oklch(51.028% 0 271.52);
  --color-app-700: oklch(37.15% 0 271.52);
  --color-app-800: oklch(32.109% 0 271.52);
  --color-app-900: oklch(21.779% 0 271.52);

  --grid-template-columns-history: 0.5fr 1fr 0.75fr 0.75fr;

  --max-width-container: min(25rem, 84%);

  --spacing-container: min(1.875rem, 5%);

  --radius-5: 0.3125rem;
}

@layer theme {
  :root {
    @variant dark {
      --color-background: oklch(15.907% 0 271.52 / 95%);

      --color-primary: oklch(24.355% 0.077 273.06);
      --color-secondary: oklch(22.834% 0.0681 300.302);
    }
  }
}

@utility no-spinner {
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@utility scrollbar-custom {
  --scrollbar-track: oklch(95.514% 0 271.52);

  @variant dark {
    --scrollbar-track: oklch(13.441% 0 271.52);
  }

  scrollbar-color: var(--color-primary) var(--scrollbar-track);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 5px;
    border: 2px solid var(--scrollbar-track);
  }
}
