* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

html {
  height: 100vh;
}

body {
  position: relative;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
  cursor: default;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

#main-container {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--top-bar-height);
  border-bottom: 1px solid var(--tile-border-color);
  width: 100%;
  max-width: var(--content-max-width);
  margin-bottom: var(--top-bar-margin-bottom);
  box-sizing: border-box;
}

.dark-mode #top-bar {
  border-bottom-color: var(--text-color-dark);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--game-board-gap);
  margin-bottom: var(--game-board-margin-bottom);
}

.tile {
  width: var(--tile-width);
  height: var(--tile-height);
  border: 2px solid var(--tile-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--tile-font-size);
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.tile.pop {
  animation: popIn var(--animation-pop-duration)
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tile.flip {
  animation: flipIn var(--animation-flip-duration) ease;
}

.tile.shake {
  animation: shakeAnimation var(--animation-shake-duration) ease-in-out;
}

@keyframes popIn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flipIn {
  0% {
    transform: rotateX(0);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
  }
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: var(--keyboard-gap);
}

.key {
  color: var(--key-color);
  border: none;
  background-color: var(--key-background-color);
  font-size: var(--key-font-size);
  font-weight: bold;
  cursor: pointer;
  width: var(--key-size);
  height: var(--key-size);
  padding: 0;
}

@media (hover: hover) {
  .key:hover {
    background-color: var(--key-hover-background-color);
  }
}

.correct,
.present,
.absent {
  color: white;
}

.correct {
  background-color: var(--correct-color);
}

.present {
  background-color: var(--present-color);
}

.absent {
  background-color: var(--absent-color);
}

.content-button {
  margin-top: var(--content-button-margin-top);
  padding: var(--content-button-padding);
  font-size: var(--content-button-font-size);
  background-color: var(--content-button-background-color);
  color: var(--content-button-color);
  border: 2px solid var(--content-button-border-color);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

#new-game-button {
  display: none;
}

@media (hover: hover) {
  .content-button:hover {
    background-color: var(--content-button-hover-background-color);
  }
}

.dark-mode .content-button {
  background-color: var(--content-button-background-color-dark);
  color: var(--content-button-color-dark);
  border-color: var(--content-button-border-color-dark);
}

@media (hover: hover) {
  .dark-mode .content-button:hover {
    background-color: var(--content-button-hover-background-color-dark);
    color: var(--content-button-hover-color-dark);
  }
}

#game-title {
  margin: 0;
  font-size: var(--game-title-font-size);
  text-align: center;
  font-family: var(--title-font-family);
  font-weight: bold;
  letter-spacing: 2px;
  flex-grow: 1;
}

.top-bar-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--top-bar-button-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

@media (hover: hover) {
  .top-bar-button:hover {
    transform: scale(1.1);
  }
}

.top-bar-button svg {
  width: var(--top-bar-button-size);
  height: var(--top-bar-button-size);
  stroke: var(--text-color-light);
}

body.dark-mode .top-bar-button svg {
  stroke: var(--text-color-dark);
}

.setting-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--settings-group-margin-bottom);
  width: 100%;
}

.setting-label {
  font-weight: bold;
  font-size: var(--setting-label-font-size);
}

.setting-select {
  width: var(--setting-select-width);
  padding: var(--setting-select-padding);
  font-size: var(--setting-select-font-size);
  border: 1px solid var(--setting-select-border-color);
  border-radius: var(--setting-select-border-radius);
  background-color: var(--setting-select-background-color-light);
  color: var(--setting-select-color-light);
}

.dark-mode .setting-select {
  background-color: var(--setting-select-background-color-dark);
  color: var(--setting-select-color-dark);
  border-color: var(--setting-select-border-color-dark);
}

.setting-select:focus {
  outline: none;
  border-color: var(--text-color-light);
  box-shadow: 0 0 5px rgba(26, 26, 26, 0.5);
}

.dark-mode .setting-select:focus {
  border-color: var(--text-color-dark);
  box-shadow: 0 0 5px rgba(240, 240, 240, 0.5);
}

.top-bar-buttons-div {
  display: flex;
  flex-direction: row;
  gap: var(--top-bar-buttons-div-gap);
  flex-basis: 33.33%;
}

.top-bar-buttons-div:last-child {
  justify-content: flex-end;
}

.hidden {
  display: none;
}
