#stats-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--stats-grid-gap);
	margin-bottom: var(--stats-grid-margin-bottom);
}

.stat-box {
	background-color: var(--key-background-color);
	border: 2px solid var(--tile-border-color);
	border-radius: var(--stat-box-border-radius);
	padding: var(--stat-box-padding);
	text-align: center;
}

.dark-mode .stat-box {
	background-color: var(--background-color-dark);
	border-color: var(--text-color-dark);
}

.stat-number {
	font-size: var(--stat-number-font-size);
	font-weight: bold;
	margin-bottom: var(--stat-number-margin-bottom);
}

.stat-label {
	font-size: var(--stat-label-font-size);
}

#guess-distribution {
	display: flex;
	flex-direction: column;
	gap: var(--guess-distribution-gap);
	width: 100%;
}

#stats-container h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.guess-row {
	display: flex;
	align-items: center;
	width: 90%;
}

.guess-label {
	width: var(--guess-label-width);
	text-align: right;
	margin-right: var(--guess-label-margin-right);
	font-weight: bold;
	font-size: var(--guess-label-font-size);
}

.guess-bar {
	flex-grow: 1;
	height: var(--guess-bar-height);
	background-color: var(--absent-color);
	position: relative;
	border-radius: var(--guess-bar-border-radius);
}

.guess-bar-fill {
	background-color: var(--correct-color);
	height: 100%;
	border-radius: var(--guess-bar-fill-border-radius);
	transition: width 0.5s ease-in-out;
}

.guess-count {
	position: absolute;
	right: var(--guess-count-right);
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
	color: var(--text-color-light);
	font-size: var(--guess-count-font-size);
}

.dark-mode .guess-count {
	color: var(--text-color-dark);
}
