@import "tailwindcss";

@theme {
  --font-courier: "Courier New", monospace;

  --color-background: oklch(22% 0 0);

  --color-border: oklch(32% 0 0);

  --color-button: oklch(41% 0 0);
  --color-button-hover: oklch(51% 0 0);

  --color-dark-red: oklch(56% 0.23 29.2);
  --color-red: oklch(63% 0.26 29.2);
}

@layer base {
  button,
  select {
    font-family: var(--font-courier);
    font-size: 1rem;
    margin: 5px;
    padding: 10px;
    background-color: var(--color-button);
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover,
  select:hover {
    background-color: var(--color-button-hover);
  }
}
